@using BMDbMvcUI.Data.Roles
@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

<h1 id="welcome-h1">Welcome to BMDb!</h1>
@if (User.IsInRole(Roles.Admin))
{
    <h3 id="message-h2">You are logged in as an @Roles.Admin.</h3>
}
else
{
    <h3 id="message-h2">You need to register as an administrator to get advanced functionality (such as add/remove and edit movies).</h3>
}


<form method="post" class="search-form" asp-action="SearchMovies">
    <div class="input-group">
        <input type="text" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
        <button type="submit" class="btn btn-outline-primary" style="accent-color: transparent">Search</button>
    </div>

</form>