@model BMDb.MVC.Models.AddMovieViewModel
<h1 class="mt-3">Add Movie</h1>

<form method="post">
    <div class="mt-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Poster</label>
        <input type="text" class="form-control" asp-for="Poster"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Year</label>
        <input type="text" class="form-control" asp-for="Year"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Genre</label>
        <input type="text" class="form-control" asp-for="Genre"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Director</label>
        <input type="text" class="form-control" asp-for="Director"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Plot</label>
        <input type="text" class="form-control" asp-for="Plot"/>
    </div>
    <div class="mt-3">
        <label class="form-label">Trailer</label>
        <input type="text" class="form-control" asp-for="Trailer"/>
    </div>
    <div class="mt-3">
        <label class="form-label">IMDb Id</label>
        <input type="text" class="form-control" asp-for="ImdbId"/>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

<div>
    <a asp-action="Index" class="back-link">Back to Movie list</a>
</div>