@model IEnumerable<MovieViewModel>

<form>
    <div class="container row">
        @foreach (var item in Model)
        {
            <div class="col-4 ">
                <div class="p-0 my-3 border">
                    <div class="card">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h3 class="card-title text-success"></h3>
                            <span class="badge badge-light mb-2 ">@item.Title</span>
                            <p class="card-text">@item.Year</p>
                            <div class="row">
                                <div class="col pt-1">
                                    <span style="font-size:23px;">@item.Director</span>
                                </div>
                                <div class="col">
                                    <a class="btn btn-success form-control">@item.Genre</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</form>