<div class="pagination">
    <button class="btn btn-primary @(ActivePageNumber == 1 ? "disabled" : "")"
            @onclick="() => OnPageClicked(ActivePageNumber - 1)">
        Previous
    </button>

    @for (var i = 1; i <= TotalPages; i++)
    {
        
        var i1 = i;
        <button class="btn @(i == ActivePageNumber ? "btn-primary" : "btn-secondary")"
                @onclick="() => OnPageClicked(i1)">
            @i
        </button>
    }

    <button class="btn btn-primary @(ActivePageNumber == TotalPages ? "disabled" : "")"
            @onclick="() => OnPageClicked(ActivePageNumber + 1)">
        Next
    </button>
</div>

@code {

    [Parameter]
    public int ActivePageNumber { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback<int> PageChanged { get; set; }

    private void OnPageClicked(int pageNumber)
    {
        if (pageNumber >= 1 && pageNumber <= TotalPages && pageNumber != ActivePageNumber)
        {
            PageChanged.InvokeAsync(pageNumber);
        }
    }

}

