@page "/search"
@using BMDb.BlazorApp.Services
@inject IAsyncMovieService MovieService
@inject NavigationManager NavigationManager


<PageTitle>Search</PageTitle>

<form method="get" class="search-form" @onsubmit="SearchAsync">

    <div class="container">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control form-input" placeholder="Search anything..." @bind="_searchTerm">
                    <span class="left-pan">
                        <i class="fa fa-code"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>

@code {
    private string? _searchTerm;

    private async Task SearchAsync()
    {
        await MovieSearchAsync();
    }

    private async Task MovieSearchAsync()
    {
        await Task.Delay(1000);
        await MovieService.SearchMoviesAsync(_searchTerm);
        NavigationManager.NavigateTo($"/searchresult/{_searchTerm}");
    }

}